#wrapperQuizCartazes {
	width: 600px;
	height: 430px;
	background-color: black;
	overflow: hidden;
	position: relative;
}

/* logo */

img[src="images/Logo_quiz.png"]{
	margin-left: -10px;
	z-index: 100;
}

/* /////////////////////////////// */	
/* stage 0 - inicio */
#stage0 {
	width: 600px;
	height: 440px;
	background-image:url("../images/imgAbre_cartaz.jpg");
	background-color: black;
}
#stage0 input#comecar{
	/*padding: 360px 0 0 240px;*/
	padding: 355px 0 0 236px;

}

/* /////////////////////////////// */	
/* stage 1 - perguntas */

#stage1 img{
	float: left;
}

#stage1Texto {
	background-image:url("../images/imgGeral_cartaz.jpg");
	background-repeat:no-repeat;
	width: 48%;
	height: 100%;
	float: left;
	padding-left: 10px;
}
.txtWhite{
	font-size: 12px;
	font-family: "Helvetica", Arial, sans;!important
}

#filmeComentario {
	font-family: "Helvetica", Arial, sans;!important
	font-size: 10px;!important
	margin-top: 0;
}

#stage1 table{
	color: white;
	font-size: 16px;
	border-collapse:collapse;
	width: 280px;
}

#stage1 table, #stage1 th, #stage1 td {
	border-bottom: 1px dotted #333;
	border-top: 1px dotted #333;
	padding: 4px;
}

#stage1 tr{
	cursor: pointer;
}

#rbRespostas{
	position: absolute;
	top: 260px;
}
#continuar{
	position: absolute;
	top: 365px;
	left: 426px;
}

#showResultadoResposta{
	position: absolute;
	width: 280px;
	text-align: center;
	top: 345px;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 12px;
}

#numeroPergunta {
	text-align: right;
	margin-right: 10px;
}

.respostaCerta {
	color: green;
}
.respostaErrada {
	color: red;
}

label.labelResposta {
	clear:both;
	float: none;
	font-size: 14px;
	cursor: pointer;
}
input.rbResposta {
	clear:both;
	float: none;
	cursor: pointer;
}

img[src="images/Logo_quiz.png"] {
	position: absolute;
	top: 10px;
	left: 265px;
}


/* /////////////////////////////// */	
/* stage 2 - final */
#stage2 {
	width: 600px;
	height: 440px;
	background-image:url("../images/imgFecha_cartaz.jpg");
	background-color: black;
}
#stage2 h4#resultadoScore {
	position: absolute;
	top: 155px;
	left: 300px;
	font-size: 28px;
	text-align: center;
	color: white;
}
#stage2 input#recomecar {
	/*padding: 360px 0 0 240px;*/
}

/* botoes stage 2 */
#btnsstage2 {
	padding-top: 360px;
	margin-left: 20%;
}
/*#recomecar {
	display: block;
	float: left;
}
#btnOutrosTestes {
	display: block;
	float: left;
}
*/
/* gerais */

div.stage h4#filmeNome{
	height: 40px;
}

div.stage div.stageTexto h4{
	padding: 30px 10px 0 0;
}

div.stage div.stagetexto p {
	padding: 5	px 10px 0 0; 
}



.txtWhite{
	color: white;
}

.simClickEvents {
	cursor: pointer;
}
.noClickEvents {
	pointer-events: none;
	cursor: auto;
}

